
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}


.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* .. SIDEBAR .. */
.sidebar {
  width: 220px;
  background: #1e1e2f;
  color: #fff;
  padding: 20px;
  transition: width 0.3s ease, left 0.3s ease;
  flex-shrink: 0;
  position: relative;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar h2 {
  margin: 0;
}

.collapse-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  gap: 10px;
}

.sidebar a:hover {
  background: #2b2b45;
}

.sidebar a.active {
  background: #34345c;
}

/* .. COLLAPSED .. */
.sidebar.collapsed {
  width: 70px;
  padding: 15px 10px;
}

.sidebar.collapsed h2 {
  display: none;
}

.sidebar.collapsed a {
  justify-content: center;
  font-size: 13px;
}

.sidebar.collapsed .text {
  display: none;
}

/* .. MAIN .. */
.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .. NAVBAR .. */
.navbar {
  background: #fff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.menu-btn {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-title {
  font-size: 18px;
  font-weight: 600;
}


.page {
  padding: 20px;
  width: 100%;
}

/* .. CARDS .. */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}


.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; 
}

.form-row input,
.form-row select,
.form-row button {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 42px;
}

.form-row button {
  background-color: #4f46e5;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.form-row button:hover {
  background-color: #4338ca;
}

/* .. TABLE .. */
.responsive-table {
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 600px;
  background: #fff;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* .. CONTROLS .. */
.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
}

.controls input,
.controls select {
  padding: 8px;
  min-width: 180px;
}

/* .. MODAL .. */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 90%;
  max-width: 400px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* .. PAGE HEADER ..*/
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

/* .. MOBILE  .. */
@media (max-width: 1024px) {
  .sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
    top: 0;
    left: -220px;
    z-index: 1000;
    transition: left 0.3s ease;
  }

  .sidebar.open {
    left: 0;
  }

  .menu-btn {
    display: block;
  }

  .main {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  
  .sidebar {
    width: 220px;
    padding: 15px;
  }

  .sidebar.collapsed {
    width: 70px;
  }

  .sidebar a {
    font-size: 14px;
  }

  .sidebar.collapsed a {
    justify-content: center;
  }

  input, select, button {
    width: 100%;
  }

  table {
    min-width: 100%;
  }

  .form-row {
    flex-direction: column;
  }

  .page-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .controls input,
  .controls select {
    min-width: 100%;
  }
}


button{
    background-color: #4f46e5;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    padding: 1px 7px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 25px;
}